*
{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.container
{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
a
{
	text-decoration: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
header
{
	background-color: #ffffff;
	color: black;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #EFF1F2;
}
header a
{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px; 
}
header a:hover
{
	color: #e8491d;
}
header ul
{
	margin: 0;
	padding: 0;
	/*float: right;*/
}
header li
{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header #branding
{
	float: left;
}
header #branding h2
{
	margin: 0;
	color: #e8491d;
	font-family: Arial, Helvetica, sans-serif;
}
header nav
{
	margin-left: 35%;
	margin-top: 10px;
}
header #signup
{
	margin-left: 80%;
}
header #signup a
{
	color: #e8491d;
}
header .highlight, header .current a
{
	color: #e8491d;
	font-weight: bold;
}
#header{
	position: fixed;width: 100%;
}

#active
{
	color: #e8491d;
}

#bdp{
	border-bottom: 2px solid #fff;
	padding-bottom: 5%;
}

#img1, #img2, #img3{
	background-color: #fff;
	border-radius: 5px;
}

#boxes
{
	margin-left: 20%;
}
#hidentitle{
	margin-left:17%;
	margin-bottom: 2%;
	padding: 20px;
	font-size: 45px;
}
#signinlink{
	font-size: 10px;
	color: black;
	margin-left: 4%;
	padding-top: 24px;"
}
#btmtxt{
	padding: 10px;
}
#lsttitle{
	color: #e8491d;
}
#connexspan{
	font-weight: bold;
}
#firstbigtitle
{
	text-shadow: 0 0 5px #000;
}
#fb
{
	background-color: #3B5998;
}
#go
{
	background-color: #DB4437;
}
#main-image
{
	min-height: 700px;
	background: url('img/536.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	 
}
#main-image h1
{
	margin-top: 270px;
	font-size: 55px;
	color: #fff;
	padding: 20px;
}
#main-image .box
{
	float: left;
	width: 25%;
	height: 110px;
	padding-top: 50px;
	/*border-right: 1px solid black;*/
}
#main-image .box h3
{
	padding-top: 25px;
}
#box1
{
	background-color: #fff;
}
#box2
{
	background-color: #EDEDED;
}
#box3
{
	background-color: #d6d6d6;
}
#trajects-page-info
{
	height: 550px;
	background-color: #ededed;
	text-align: center;

}
#trajects-page-info h1
{
	padding: 10px;
	font-size: 40px;
	padding-top: 100px;
	font-family: 'Open sans',sans-serif;
}
#trajects-page-info p
{
	line-height: 20px;
}
#orange-round-btn
{
	color: #fff;
	font-weight: bold;
	background-color: #e8491d;
	/*position: absolute;*/
	display: block;
	width: 200px;
	padding: 13px;
	margin-left: 41%;
	margin-top:20px;
	border-radius: 17px;
}
#white-round-btn
{
	color: #000;
	text-align: center;
	background-color: #fff;
	position: absolute;
	width: 200px;
	padding: 13px;
	left: 43%;
	margin-top:20px;
	border-radius: 17px;
}
#questions-page
{
	height: 350px;
	background-color: #333333;
}
#questions-page h1
{
	color: #fff;
	text-align: center;
	font-size: 40px;
	padding: 10px;
	margin-top: 100px;
}
#sign-screen
{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: visible;
	zoom: 1;
	overflow: auto;
	background-color: #fff;
}
#formp
{
	margin-left:30%;
	margin-top: 18%;
}
#close-btn
{
	float: right;
	margin-top: -32%;
	margin-right: 3%;
	color: black;
	font-size: 22px;
}
#username
{
/*margin-top: 10%;*/

}
#formp input
{
	width: 210px;
	height: 28px;
	line-height: 14px;
	margin: 7px;
}
#sub-btn a
{
	color: #fff;
	text-align: center;
	font-size: 14px;
	background-color: #e8491d;
	display: block;
	width: 200px;
	padding: 7px;
	margin-left: 0.5%;
	margin-top:20px;
}
#znd-form
{
	float: right;
	margin-right: 45%;
	margin-top: -17%;
}
#znd-form a
{
	color: #fff;
	padding: 10px;
	font-size: 12px;
	width: 200px;
	text-align: center;
	/*margin-bottom: 2px;*/
	display: block;
}

#deplacement
{
	margin-left: 5%;
}

footer
{
	background-color: #111111;
	color: #fff;
	text-align: center;
	height: 500px;
}
.boxes2
{
	padding-top: 0;
	margin: 0;
	margin-left: 20%;
	margin-top: 5%;

}
.boxes2 div
{
margin: 20px;
padding: 20px;
float: left;

}
#squared-btn
{
	color: #fff;
	font-weight: bold;
	background-color: #e8491d;
	display: block;
	width: 150px;
	padding: 13px;
	left: 26.5%;
	margin-top:20px;
	
}
